.heroSection {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.counter {
    display: flex;
    gap: 2rem;
}

.counter div {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -5;
    rotate: 180deg;
    background-color: #000;
}

.heroBlur {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(28, 76, 130, .8), rgb(44, 104, 168, .3));
    position: absolute;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.heroSection .content {
    position: relative;
    top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroSection .content .titleClick {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heroSection .content .titleClick a {
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: .35rem;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 1.5rem;
}

.heroSection .heroTitle {
    width: 30rem;
}

.date_time {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heroSection .location {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1.5rem 2rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    background-color: rgba(186, 210, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: none;
}

.heroSection .location .date {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.heroSection .location .date p {
    color: #fff;
    font-size: 2rem;
    padding: .35rem;
    border-radius: .3rem;
    border: .1px solid rgb(255, 255, 255, .2);
    background-color: rgba(0, 75, 124, 0.25);
    backdrop-filter: blur(5px);
    display: flex;
}

.heroSection .location .date .TH {
    font-size: .7rem;
}

@media(width<=900px) {
    .heroSection .content {
        flex-direction: column;
        gap: 4rem;
    }

    .date_time {
        flex-direction: column-reverse;
    }

    .heroSection .content .titleClick {
        padding: 0;
    }

    .heroSection .location {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 1.25rem
    }
}

@media(width<=600px) {
    .heroSection .heroTitle {
        width: 23em;
    }

    .heroSection .content {
        padding: 1rem;
    }

    .heroSection .location {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
    }

    .heroSection .location .date {
        justify-content: center;
    }
}

@media(width<550px) {
    .heroSection .heroTitle {
        width: 20rem;
    }

    .heroSection .location {
        font-size: 1.3rem;
        border-radius: 1.2rem;
    }

    .counter {
        gap: 1rem;
    }
}

@media(width<=376px) {

    .heroSection .location,
    .counter div {
        font-size: 1.1rem;
    }

    .heroSection .heroTitle {
        width: 18rem;
    }

    .heroSection .location .date p {
        border: .1px solid rgb(255, 255, 255, .1);
    }
}