.currentEvent {
    position: relative;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.currentEvent .c1 {
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: -1;
    width: 30rem;
    opacity: .9;
}

.currentEvent ul {
    padding-left: 3rem;
}

.currentEvent li {
    color: #444444;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: .5rem;
}

.QAList {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.QAList .c2 {
    position: absolute;
    top: -20rem;
    left: 1rem;
    z-index: -1;
    opacity: .9;
    width: 15rem;
}

.QAList .questions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.QAList .questions a {
    font-size: 1.3rem;
}

.starContainer {
    position: relative;
    right: 5rem;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.starContainer h4 {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: -7rem;
    padding: .5rem .8rem;
    border: .1px solid rgb(190, 190, 190);
    border-radius: 1rem;
}

.starContainer .star {
    height: 40rem;
}

@media(width<=1280px) {
    .starContainer {
        right: 0rem;
    }

    .starContainer .star {
        height: 30rem;
    }
}

@media(width<=1024px) {
    .starContainer h4 {
        display: block;
    }

    .starContainer .star {
        height: 25rem;
    }
}

@media(width<=768px) {
    .currentEvent {
        padding: 4rem 2rem 1rem;
    }

    .QAList {
        flex-direction: column;
        gap: 2rem;
        padding-top: 0rem;
    }


    .starContainer h4 {
        left: 0rem;
    }

    .starContainer .star {
        height: 20rem;
    }
}

@media(width<=600px) {
    .currentEvent {
        padding: 3rem 1rem 0rem;
    }

    .starContainer h4 {
        left: 1rem;
        font-size: .8rem;
    }
}

@media(width<=378px) {}