.aboutSection {
    max-height: fit-content;
    padding: 1rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutSection .tag {
    padding: 12rem 0;
    position: relative;
    text-align: center;
}

.aboutSection .tagline {
    font-size: 4.5rem;
}

.aboutSection .tagline span {
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.aboutSection .tag .boat {
    position: absolute;
    bottom: 7rem;
    right: 0;
    width: 12rem;
}

.aboutSection img {
    object-fit: contain;
    z-index: -1;
}

.aboutSection .vr {
    position: absolute;
    top: 10rem;
    left: 22rem;
    width: 12rem;
}

.aboutSection .img1 {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    width: 18rem;
}

.aboutSection .img2 {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    width: 15rem;
}

.aboutSection .img3 {
    position: absolute;
    bottom: 3rem;
    left: 8rem;
    width: 14rem;
}

.aboutSection .img4 {
    position: absolute;
    top: -5rem;
    right: 5rem;
    width: 40rem;
}

.currentEvent {
    padding: 6rem 4rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.currentEventContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.currentEventContent .aboutEvent {
    width: fit-content;
    height: 10rem;
    object-fit: contain;
}

.currentEventContent p {
    font-size: 1.3rem;
    line-height: 1.4;
}

.currentEvent img {
    width: 100%;
    height: 32rem;
    object-fit: contain;
}

.whyExpo {
    padding: 1rem 4rem 2rem;
    font-size: 1.3rem;
    line-height: 1.4;
}

.whyExpo h1 {
    font-size: 2.2rem;
    line-height: 1.3;
    padding-bottom: .8rem;
}

.whyExpo .whyExpoTitle {
    display: flex;
    flex-direction: column;
}

.whyExpo .whyExpoQA {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.whyExpo .whyExpoQA .QAList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.starContainer {
    position: relative;
    right: 5rem;
    float: right;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.starContainer h4 {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: -7rem;
    padding: .5rem .8rem;
    border: .1px solid rgb(190, 190, 190);
    border-radius: 1rem;
}

.whyExpo .star {
    height: 35rem;
}

@media(width<=1024px) {
    .aboutSection .tag {
        padding: 15rem 0;
    }

    .aboutSection .tagline {
        font-size: 3.5rem;
    }

    .aboutSection .vr {
        top: 10rem;
        left: 10rem;
        width: 10rem;
    }

    .aboutSection .tag .boat {
        width: 10rem;
        bottom: 9rem;
    }

    .aboutSection .img1 {
        top: -2rem;
        left: -2rem;
        width: 23rem;
    }

    .aboutSection .img2 {
        width: 12rem;
    }

    .aboutSection .img3 {
        left: 5rem;
        width: 12rem;
    }

    .aboutSection .img4 {
        top: -3rem;
        right: -3rem;
        width: 34rem;
    }

    .currentEventContent .aboutEvent {
        height: 8rem;
    }

    .currentEventContent p {
        font-size: 1.2rem;
    }

    .currentEvent img {
        height: 21rem;
    }

    .whyExpo .whyExpoQA {
        flex-direction: column;
        justify-content: center;
    }

    .starContainer {
        right: 0rem;
        height: 25rem;
        width: 25rem;
    }

    .starContainer h4 {
        display: block;
    }

    .whyExpo .star {
        height: 25rem;
    }
}

@media(width<=768px) {
    .aboutSection .tag .boat {
        bottom: 10rem;
        width: 7rem;
    }

    .aboutSection .tagline {
        font-size: 2.2rem;
    }

    .aboutSection .img1 {
        top: -1.5rem;
        left: -1.5rem;
        width: 10rem;
    }

    .aboutSection .img2 {
        width: 10rem;
    }

    .aboutSection .img3 {
        left: 2rem;
        width: 8rem;
        bottom: 5rem;
    }

    .aboutSection .img4 {
        top: -4rem;
        right: -4rem;
        width: 30rem;
    }

    .currentEvent {
        padding: 4rem 2rem 1rem;
        flex-direction: column;
        gap: 2rem;
    }

    .currentEvent img {
        height: 100%;
    }

    .starContainer h4 {
        left: 5rem;
    }

    .whyExpo .star {
        height: 20rem;
    }
}

@media(width<=600px) {
    .aboutSection .tagline {
        font-size: 2rem;
    }

    .aboutSection .vr {
        left: 3rem;
        width: 8rem;
    }

    .aboutSection .img1 {
        top: -1rem;
        left: -1rem;
        width: 8rem;
    }

    .aboutSection .img2 {
        width: 8rem;
    }

    .aboutSection .img3 {
        left: 1rem;
        width: 6rem;
    }

    .aboutSection .img4 {
        top: -3rem;
        width: 25rem;
    }

    .currentEvent {
        padding: 3rem 1rem 0rem;
        flex-direction: column;
        gap: 2rem;
    }

    .whyExpo {
        padding: 1rem;
    }

    .starContainer h4 {
        left: 1rem;
        font-size: .8rem;
    }
}

@media(width<=378px) {
    .aboutSection .tagline {
        font-size: 1.8rem;
    }

    .aboutSection .vr {
        left: 1rem;
        width: 6rem;
    }

    .aboutSection .tag .boat {
        bottom: 11rem;
        width: 6rem;
    }

    .aboutSection .img3 {
        left: 1rem;
        width: 5rem;
    }

    .aboutSection .img4 {
        top: -2rem;
        right: 1rem;
        width: 8rem;
    }

    .currentEventContent .aboutEvent {
        height: 7rem;
    }

    .currentEventContent p {
        font-size: 1rem;
    }
}


/* Aim section */

.aimSection {
    position: relative;
    background-color: #F4F4F4;
    padding: 2.5rem;
    margin: 4rem;
    line-height: 1.5;
    border-radius: 1rem;
}

.aimSection .dot {
    position: absolute;
    right: -1rem;
    top: -1.5rem;
    width: 13rem;
    rotate: 90deg;
}

.aimSection h1 {
    font-size: 3rem;
    font-family: 'ClashDisplay-Semibold';
}

.aimSection ul {
    padding-left: 1rem;
}

.aimSection ul li {
    font-size: 1.2rem;
    padding: .25rem;
}

@media(width<=1024px) {
    .aimSection .dot {
        right: -.5rem;
        width: 10rem;
    }

}

@media(width<=768px) {
    .aimSection {
        padding: 2rem;
        margin: 2rem 1rem;
    }

    .aimSection ul li {
        font-size: 1.1rem;
    }
}

@media(width<520px) {
    .aimSection .dot {
        right: -.5rem;
        width: 10rem;
    }
}

@media(width<=378px) {
    .aimSection h1 {
        font-size: 2.5rem;
    }

    .aimSection ul li {
        font-size: 1rem;
    }
}