.currentEvent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.currentEvent .content {
    padding: 4rem;
}

.currentEvent ul {
    padding-left: 3rem;
}

.currentEvent li {
    color: #444444;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: .5rem;
}

.glance {
    z-index: -1;
    padding: 4rem;
    background-image: linear-gradient(to right, rgb(9, 154, 190), rgb(0, 62, 119));
    position: relative;
}

.glance h2 {
    font-size: 3rem;
    color: #fff;
}

.glance img {
    position: absolute;
    bottom: 0;
    right: 5rem;
    width: 22rem;
}

.QAList {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.QAList .c2 {
    position: absolute;
    top: -20rem;
    left: 1rem;
    z-index: -1;
    opacity: .9;
    width: 15rem;
}

.QAList .questions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.QAList .questions .bookNow {
    margin-top: 1rem;
    border-radius: .5rem;
    width: fit-content;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem .8rem;
    background-image: linear-gradient(to right, rgba(30, 146, 175, 0.8), rgb(10, 108, 212));
}

.starContainer {
    position: relative;
    right: 5rem;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.starContainer h4 {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: -7rem;
    padding: .5rem .8rem;
    border: .1px solid rgb(190, 190, 190);
    border-radius: 1rem;
}

.starContainer .star {
    height: 40rem;
}

@media(width<=1440px) {
    .starContainer {
        right: 2rem;
    }

    .starContainer .star {
        height: 34rem;
    }

    .glance {
        padding: 3rem;
    }

    .glance img {
        right: 7em;
        width: 17rem;
    }
}

@media(width<=1280px) {
    .starContainer {
        right: 0rem;
    }

    .starContainer .star {
        height: 30rem;
    }
}

@media(width<=1024px) {
    .starContainer h4 {
        display: block;
    }

    .starContainer .star {
        height: 25rem;
    }
}

@media(width<=768px) {
    .currentEvent .content {
        padding: 4rem 2rem 1rem;
    }

    .currentEvent .amu {
        text-align: left;
        font-size: 1.15rem;
    }

    .QAList {
        flex-direction: column;
        gap: 2rem;
        padding-top: 0rem;
    }

    .starContainer h4 {
        left: 0rem;
    }

    .starContainer .star {
        height: 20rem;
    }

    .glance {
        padding: 2rem;
    }

    .glance img {
        right: 5em;
        width: 13.5rem;
    }
}

@media(width<=600px) {
    .currentEvent .content {
        padding: 0rem 1rem 0rem;
    }

    .starContainer h4 {
        left: 1rem;
        font-size: .8rem;
    }

    .glance {
        margin: 1.5rem 0 2rem;
        padding: 1.5rem;
    }

    .glance h2 {
        font-size: 2.5rem;
    }

    .glance img {
        right: 0em;
        width: 10.5rem;
    }
}

@media(width<=378px) {}