.loader {
    position: relative;

    height: 100vh;
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}

.load-center {
    position: relative;
    top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader_logo {
    position: relative;
    width: 10rem;
}

.loader_spon {
    position: relative;
    right: .5rem;
    height: 1.2rem;
    opacity: 0;
}

.logo_container {
    display: flex;
    position: relative;
    top: -.5rem;
    opacity: 0;
}

.sci-mal,
.expo-eng {
    height: 4rem;
}

@media(width<=600px) {

    .sci-mal,
    .expo-eng {
        height: 3rem;
    }
}