.aboutSection {
    max-height: fit-content;
    padding: 1rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutSection .tag {
    padding: 12rem 0;
    position: relative;
    text-align: center;
}

.aboutSection .tagline {
    font-size: 4.5rem;
}

.aboutSection .tagline span {
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.aboutSection .tag .boat {
    position: absolute;
    bottom: 7rem;
    right: 0;
    width: 12rem;
}

.aboutSection img {
    object-fit: contain;
    z-index: -1;
}

.aboutSection .vr {
    position: absolute;
    top: 10rem;
    left: 22rem;
    width: 12rem;
}

.aboutSection .img1 {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    width: 18rem;
}

.aboutSection .img2 {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    width: 15rem;
}

.aboutSection .img3 {
    position: absolute;
    bottom: 3rem;
    left: 8rem;
    width: 14rem;
}

.aboutSection .img4 {
    position: absolute;
    top: -5rem;
    right: 5rem;
    width: 40rem;
}

@media(width<=1024px) {
    .aboutSection .tag {
        padding: 15rem 0;
    }

    .aboutSection .tagline {
        font-size: 3.5rem;
    }

    .aboutSection .vr {
        top: 10rem;
        left: 10rem;
        width: 10rem;
    }

    .aboutSection .tag .boat {
        width: 10rem;
        bottom: 9rem;
    }

    .aboutSection .img1 {
        top: -2rem;
        left: -2rem;
        width: 23rem;
    }

    .aboutSection .img2 {
        width: 12rem;
    }

    .aboutSection .img3 {
        left: 5rem;
        width: 12rem;
    }

    .aboutSection .img4 {
        top: -3rem;
        right: -3rem;
        width: 34rem;
    }
}

@media(width<=768px) {
    .aboutSection .tag .boat {
        bottom: 10rem;
        width: 7rem;
    }

    .aboutSection .tagline {
        font-size: 2.2rem;
    }

    .aboutSection .img1 {
        top: -1.5rem;
        left: -1.5rem;
        width: 10rem;
    }

    .aboutSection .img2 {
        width: 10rem;
    }

    .aboutSection .img3 {
        left: 2rem;
        width: 8rem;
        bottom: 5rem;
    }

    .aboutSection .img4 {
        top: -4rem;
        right: -4rem;
        width: 30rem;
    }
}

@media(width<=600px) {
    .aboutSection .tagline {
        font-size: 2rem;
    }

    .aboutSection .vr {
        left: 3rem;
        width: 8rem;
    }

    .aboutSection .img1 {
        top: -1rem;
        left: -1rem;
        width: 8rem;
    }

    .aboutSection .img2 {
        width: 8rem;
    }

    .aboutSection .img3 {
        left: 1rem;
        width: 6rem;
    }

    .aboutSection .img4 {
        top: -3rem;
        width: 25rem;
    }
}

@media(width<=378px) {
    .aboutSection .tagline {
        font-size: 1.8rem;
    }

    .aboutSection .vr {
        left: 1rem;
        width: 6rem;
    }

    .aboutSection .tag .boat {
        bottom: 11rem;
        width: 6rem;
    }

    .aboutSection .img3 {
        left: 1rem;
        width: 5rem;
    }

    .aboutSection .img4 {
        top: -2rem;
        right: 1rem;
        width: 8rem;
    }
}