.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.nav img {
    transition: all 0.3s ease-in-out;
}

/* Hamburger Icon Start*/
.menuIcon {
    cursor: pointer;
    display: none;
}

.menuIcon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menuIcon.open .bar:nth-child(2) {
    opacity: 0;
}

.menuIcon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 6px 0;
    transition: 0.4s;
}

/* Hamburger Icon End*/

.navbar .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar .logo {
    display: none;
}

.navbar .logoo {
    width: 13rem;
}

.navbar .blueLogo {
    display: none;
}

.navbar.scrolled .whiteLogo {
    display: none;
}

.navbar.scrolled .blueLogo {
    display: block;
}

.navbar .links .linkBlocks {
    display: flex;
    align-items: center;
    gap: 2rem;

    border-radius: 5rem;
    background-color: rgb(0, 0, 0, .15);
    padding: 1rem 1.5rem;
    height: fit-content;
}

.navbar .links .linkBlocks a {
    text-decoration: none;
    color: #fff;
}

.navbar.scrolled {
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .linkBlocks a {
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.navbar.scrolled .linkBlocks {
    background-color: transparent;
}

.menuBuy {
    display: none;
}

.navbar .buy {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: .8rem 1rem;
    border-radius: .5rem;
    transition: all .3s ease-in-out
}

.navbar.scrolled .buy {
    background-image: linear-gradient(to right, rgb(0, 143, 179), rgba(0, 132, 255, 0.6));
    color: #fff;
}

.navbar .buy:hover {
    scale: 1.1;
}

.navbar.scrolled .linkBlocks a:hover {
    color: rgb(0, 204, 255);
}

@media (width<=768px) {
    .menuIcon {
        display: block;
        margin-right: 1rem;
    }

    .menuBuy {
        display: block;
    }

    .navbar .buy {
        display: none;
    }

    .navbar {
        transition: none;
        flex-direction: row-reverse;
        height: 6.5rem;
        padding: 1rem;
    }

    .navbar.scrolled {
        height: 5.6rem;
    }

    .navbar.open {
        box-shadow: none;
        background-color: #fff;
    }

    .navbar.scrolled .bar {
        background-color: #000;
    }

    .navbar.open .bar {
        background-color: #000;
    }

    .navbar .logo {
        display: block;
        width: 10rem;
        transition: all 0.3s ease-in-out;
    }

    .navbar.open .whiteLogo {
        display: none;
    }

    .navbar.open .blueLogo {
        display: block;
    }

    .navbar.scrolled .logo {
        width: 9rem;
    }

    .navbar .links .linkBlocks {
        display: none;
    }

    .links {
        flex-direction: column;
        position: absolute;
        top: -5rem;
        left: 0;
        right: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        backdrop-filter: blur(10px);
    }

    .links .linkBlocks a {
        color: #fff;
    }

    .links.open {
        display: flex;
        top: 5rem;
        background-color: rgba(255, 255, 255);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .links .logoo {
        display: none;
    }

    .links.open .linkBlocks {
        display: flex;
        flex-direction: column;
        background: none;
    }

    .links.open .linkBlocks a {
        width: 100%;
        font-size: 1.2rem;
        padding: .8rem;
        text-align: center;
        color: #000000;
    }
}

@media (width<=376px) {
    .navbar {
        height: 5rem;
    }

    .navbar.scrolled {
        height: 4.5rem;
    }

    .navbar .logo {
        width: 9rem;
    }

    .navbar.scrolled .logo {
        width: 8rem;
    }

    .links {
        top: -1.5rem;
    }

    .links.open {
        top: 4rem;
    }
}