.previous {
    position: relative;
    height: fit-content;
    padding: 4rem;
    height: 100vh;

    background-image: url("../../../assets/moonWatching.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.previous .box {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 2.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.previous .box a {
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

.previous .box .gsfkLogo {
    width: 8rem;
    object-fit: contain;
}

.previous .box span {
    font-size: 1.5rem;
}

.previous .box h2 {
    font-weight: 400;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.previous .box p {
    line-height: 1.5;
    font-size: 1.2rem;
}

.eventContainer {
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 12px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.check {
    color: #000;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.check:hover {
    scale: 1.1;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.event {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.event img {
    height: 18rem;
    margin: 0 -11px;
    transition: all .3 ease-in-out;
}

.event .logos:nth-child(odd) {
    rotate: 3deg;
}

.event .logos:nth-child(even) {
    rotate: -3deg;
}


@media(width<=1024px) {
    .previous {
        padding: 2rem;
    }

    .previous .box {
        padding: 2rem;
    }
}

@media(width<=920px) {
    .previous {
        padding: 2rem 4rem;
    }
}

@media(width<=790px) {
    .previous {
        padding: 2rem 1rem;
    }

    .previous .box {
        position: absolute;
        right: 0rem;
        width: 100%;
        border-radius: 0;
    }
}

@media(width<=600px) {
    .previous .box span {
        font-size: 1.1rem;
    }

    .previous .box h2 {
        font-size: 2rem;
    }

    .previous .box {
        padding: 1.5rem;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .eventContainer {
        padding-bottom: 2rem;
    }

    .event img {
        height: 13rem;
    }

}

@media(width<400px) {
    .previous .box {
        bottom: 1rem;
    }

    .previous .box p {
        line-height: 1.4;
        font-size: 1rem;
    }
}

@media(width<376px) {
    .previous .box {
        bottom: 0rem;
    }

    .previous .box p {
        line-height: 1.3;
    }
}