.eventContainer {
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 12px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.check {
    color: #000;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.check:hover {
    scale: 1.1;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.event {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.event img {
    height: 18rem;
    margin: 0 -11px;
    transition: all .3 ease-in-out;
}

.event .logos:nth-child(odd) {
    rotate: 3deg;
}

.event .logos:nth-child(even) {
    rotate: -3deg;
}

@media(width<=600px) {
    .eventContainer {
        padding-bottom: 2rem;
    }

    .event img {
        height: 13rem;
    }

}